@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900");
@tailwind base;
@tailwind components;
@tailwind utilities;

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
    border-radius: 8px;
    margin-bottom: 16px;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: rgb(43, 43, 43);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

@layer base {
	h2 {
	margin-top: 64px;
	margin-bottom: 32px;
	font-weight: 600;
	font-size: 24px;
	color: theme(colors.blue.600);
	}
	h3 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 20px;
	}
	p,
	ul {
	margin-bottom: 18px;
	font-size: 18px;
	font-weight: 500;
	}
	a {
	font-weight: 600;
	color: theme(colors.blue.600);
	}
	ul {
	padding-left: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	}
	li {
	list-style-type: disc;
	}
	li::marker {
	color: theme(colors.blue.600);
	}
}

@media screen and (max-width: 640px) {
    carousel-component ul {
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
    }
    carousel-component ul::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
