---
import { getCollection } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Container from "../components/Container.astro";
import CardGrid from "../components/CardGrid.astro";
import Shell from "../layouts/shell.astro";
import Body from "../layouts/body.astro";

const allPosts = await getCollection('posts');
const posts = allPosts.filter(post => post.data.published).sort(
  (a, b) => a.data.order - b.data.order
);
---

<Shell>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Container classes="flex flex-col gap-32 pt-64">
      <CardGrid itemNumber={posts.length}>
        {
          posts.map((post) => (
            <ProjectCard post={post} />
          ))
        }
      </CardGrid>
    </Container>
    <Footer />
  </Body>
</Shell>
