---
import Link from './Link.astro'
---

<div class="relative flex flex-col gap-24 px-64 py-64 rounded-xl bg-slate-100">
    <div class="flex rounded-xl bg-pink-400"></div>
    <div class="flex flex-col gap-16">
        <div class="flex flex-col gap-32">
        <p class="text-32 font-extrabold text-pink-400">Create a slider with colored track </p>
        <p class="text-24 font-medium text-slate-500">Learn to  create a customized slider input using css variables and a little bit of javascript</p>
        <p class="text-24 font-medium text-slate-400">June 5th, 2022 — 5 min read</p>
        </div>
        <Link></Link>
    </div>
</div>
  