---
import Link from './Link.astro'

export interface Props {
    post: any
}

const {post} = Astro.props

---

<div class="relative flex gap-24 px-64 py-64 rounded-xl bg-slate-100 first:col-span-2">
    <div class="flex flex-col justify-between gap-16 flex-1">
        <div class="flex flex-col gap-32">
            <p class="text-32 font-bold text-pink-400">{post.title}</p>
            <p class="text-18 font-medium text-slate-500">{post.description}</p>
            <p class="text-24 font-medium text-slate-400">June 5th, 2022 — 5 min read</p>
        </div>
        <Link/>
    </div>
    <div class="flex rounded-xl bg-pink-400"></div>
</div>
  