---
export interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<section
  class:list={[
    "mx-auto px-16 w-full sm:px-32 lg:container lg:px-[138px]",
    classes,
  ]}
>
  <slot />
</section>
