---
import Container from "./Container.astro";
---

<header class="relative pt-88 w-full overflow-hidden">
  <Container classes="relative z-10">
    <span
      class="font-semibold text-48 mb-24 block text-pink-400"
      transition:name="robin">Robin Marillia</span
    >
    <h1 class="font-semibold text-64 max-w-[90%] leading-tight">
      Fullstack developer at <span
        class="text-pink-400"
        data-scroll-animate="true">Hello watt.</span
      ><br /><span class="max-md:hidden"
        >Based in <span class="text-pink-400">Paris.</span></span
      >
    </h1>
  </Container>
</header>
