---
import blurSvg from '../assets/blur.svg'
---

<header class="relative pt-64">
	<img src={blurSvg} alt="image description" class='absolute top-0 left-0 -mt-72 -ml-64 z-0'/>
	<div class="container mx-auto px-[124px] relative z-10">
		<span class="font-semibold text-48">Robin Marillia</span>
		<h1 class="font-extrabold text-64 max-w-[70%] leading-tight">Fullstack developer at <span class="text-pink-400">Hello watt</span></h1>
	</div>
</header>
