<div class="flex gap-16">
    <p class="text-22 font-semibold text-base-white">Learn more </p>
    <div class="flex flex-col rounded-full border-y-1 border-x-1 border-slate-600">
        <div class="">
        <div class="flex bg-base-white"></div>
        </div>
    </div>
</div>