---
import { PILLS_DATA, ProjectPill } from '../config';

export interface Props {
	topic: ProjectPill;
}
const { topic } = Astro.props;
---

<div class:list={['flex px-12 py-8 rounded-full border text-14 font-semibold', PILLS_DATA[topic].classes]}>
    {PILLS_DATA[topic].title}
</div>