---
import Link from './Link.astro'
import PillRow from './PillRow.astro';


export interface Props {
  project: any;
  url: string
}
const { project, url } = Astro.props;
---

<div data-id='project-card' class:list={['snap-center max-md:min-w-[348px] relative flex flex-col justify-between gap-16 px-16 pb-16 pt-32 bg-slate-100 rounded-xl hover:scale-[1.015] transition', project.largeCard ? 'col-span-2' : 'col-span-1']}>
  <div class="flex flex-col gap-16">
    <p class="text-24 font-semibold text-slate-800">{project.title}</p>
    <PillRow topics={project.topics}/>
    <p class="text-18 font-medium text-slate-500 group-hover:text-slate-600 transition">{project.description}</p>
  </div>
  <Link href={url} hasAbsoluteInset>Learn more</Link>
</div>