---
import Link from './Link.astro'
import PillRow from './PillRow.astro';
---

<div class="flex flex-col gap-16 px-24 pt-96 pb-24 bg-slate-100 rounded-xl">
  <div class="flex"></div>
  <div class="flex flex-col gap-16">
    <p class="text-24 font-bold text-slate-900">jSimple</p>
      <PillRow/>
      <p class="text-18 font-medium text-slate-600">Reactive javascript library inspired from jQuery, Solid.js and alpine.js.</p>
  </div>
  <Link/>
</div>
